.modal {
  position: absolute;
  width: 100%;
  max-width: 1057px;
  min-height: 1057px;
  margin: 0 auto;
  top: 32px;
    border: 0.25px solid white;
  background: linear-gradient(
    162.27deg,
    rgba(2, 4, 35, 0.25) 0.52%,
    rgba(1, 1, 13, 0.396) 92.56%,
    rgba(0, 0, 0, 0) 99.25%
  );
  filter: drop-shadow(0px 30px 25px rgba(26, 15, 12, 0.68));
  backdrop-filter: blur(35px);
    color: white;
  border-radius: 10px;
  z-index: 15;
}

.modal-image{
    width: 100%;
    object-fit: cover;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 2, 28, 0.595);
    z-index: 5;
}

.modal-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.bottom-modal{
    text-align: center;
    padding-top: 48px;
}

.modal-content{
    padding-left: 16px;
    padding-right: 16px;
}

li{
    list-style-type: none;
}
h1{
    font-size: 3rem;
}
h3{
    font-weight: bold;
    font-size: 2rem;
}

a:visited, a:link{
    color: white;
}